.counts {
  padding: 10px 0 60px;
  background: #ffffff;
}
.counts-dark {
  padding: 70px 0 60px;
  background: #ffffff;
}
.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: orange;
}
.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: purple;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}