#supporters {
    padding: 60px 0;
}
#supporters .supporters-wrap {
    border-top: 1px solid #e0e5fa;
    border-left: 1px solid #e0e5fa;
    margin-bottom: 30px;
}
#supporters .supporter-logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e0e5fa;
    border-bottom: 1px solid #e0e5fa;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 160px;
}

#supporters .supporter-logo:hover img {
    filter: none;
    transform: scale(1.1);
}
#supporters .supporter-logo img {
    max-width: 80%;
    filter: grayscale(100);
}
#supporters img {
    transition: all 0.4s ease-in-out;
}
.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}
.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: orange;
    bottom: 0;
    left: calc(50% - 25px);
}
.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}
.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}

.section-with-bg {
    background-color: #f6f7fd;
}
