/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.section-footer {
  padding-top: 8px;
  margin-top: 8px;
  background: #f3f3f3;
  ul {
    line-height: 2;
  }

  .item-list-a {
    i {
      font-size: 18px;
      padding-right: 4px;
      color: $color-b;
    }
  }
}
.flicker-img>a {
  float: left;
  padding: 1px;
  width: 33.33%;
}
footer {
  background: #f3f3f3;
  text-align: center;
  padding: 10px 0;

  .copyright-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }

  .credits {
    font-size: 14px;
  }
}
