@import "../colors.css";

.section-footer {
  background: var(--color-primary);
}

.section-footer-utils{
  padding-top: 60px;
  margin-top: 60px;
}

.section-footer-utils ul {
  line-height: 2;
}

.section-footer-utils .item-list-a i {
  font-size: 18px;
  padding-right: 4px;
  color: #ba478f;
}

.section-footer-utils .widget-a .w-title-a {
  margin-bottom: 1rem;
}

footer {
  background: #f3f3f3;
  text-align: center;
  padding: 30px 0;
}

footer .copyright-footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

footer .credits {
  font-size: 14px;
}
