body {
  font-family: 'Poppins', sans-serif;
  color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all .5s ease;
}

a:hover {
  color: #ba478f;
  text-decoration: none;
}

.link-two {
  color: #000000;
  transition: all .5s ease;
}

.link-two:hover {
  text-decoration: underline;
  color: #000000;
}

.link-one {
  color: #000000;
  transition: all .5s ease;
}

.link-one:hover {
  color: #000000;
  text-decoration: none;
}

.link-icon {
  color: #000000;
  font-weight: 500;
}

.link-icon span {
  font-size: 14px;
  padding-left: 4px;
  vertical-align: middle;
}

.link-a {
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .link-a {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  .link-a {
    font-size: 1rem;
  }
}

.link-a:hover {
  color: #ffffff;
  text-decoration: none;
}

.link-a span {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .link-a span {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .link-a span {
    font-size: 18px;
  }
}

.text-brand {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .text-brand {
    font-size: 1.8rem;
  }
}

.color-a {
  text-decoration: none;
  color: #000000;
}

.color-b {
  color: #eb743b;
}

.color-d {
  color: #adadad;
}
color-purple {
  color: #ba478f;
}

.color-text-a {
  text-decoration: none;
  color: #555555;
}

.no-margin {
  margin: 0;
}

/*------/ Bg Image /------*/
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/*------/ List a /------*/
.list-a {
  text-decoration: none;
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;
}

.list-a li {
  position: relative;
  width: 50%;
  float: left;
  padding-left: 25px;
  padding-right: 5px;
}

@media (min-width: 992px) {
  .list-a li {
    width: 33.333%;
  }
}

.list-a li:before {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #313131;
  top: 15px;
  left: 0;
}

/*------/ Pagination-a /------*/
.pagination-a {
  text-decoration: none;
}

.pagination-a .pagination .page-link {
  margin: 0 .2rem;
  border-color: transparent;
  padding: .5rem .8rem;
  color: #000000;
}

.pagination-a .pagination .page-link:hover, .pagination-a .pagination .page-link:active, .pagination-a .pagination .page-link:focus {
  background-color: #ba478f;
}

.pagination-a .pagination .page-link span {
  font-size: 1.2rem;
}

.pagination-a .pagination .next .page-link {
  padding: .4rem .9rem;
}

.pagination-a .pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination-a .pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination-a .pagination .page-item.disabled .page-link {
  padding: .4rem .9rem;
  color: #555555;
}

.pagination-a .pagination .page-item.active .page-link {
  background-color: #ba478f;
}

.a {
  text-decoration: none;
  color: #ba478f;
  font-size: 1.3rem;
}

/*------/ Icon Box /------*/
.icon-box .icon-box-icon {
  display: table-cell;
  vertical-align: top;
  font-size: 36px;
  color: #000000;
  width: 50px;
  padding-top: 8px;
}

.icon-box .icon-box-content {
  padding-top: 18px;
}

/*------/ Space Padding /------*/
.section-t8 {
  padding-top: 8rem;
}

@media (max-width: 767px) {
  .section-t8 {
    padding-top: 4rem;
  }
}

.section-t4 {
  padding-top: 4rem;
}

@media (max-width: 767px) {
  .section-t4 {
    padding-top: 2rem;
  }
}

.section-t3 {
  padding-top: 3rem;
}

@media (max-width: 767px) {
  .section-md-t3 {
    padding-top: 3rem;
  }
}

.section-b2 {
  padding-bottom: 2rem;
}

.section-tb85 {
  padding: 8rem 0 5rem 0;
}

@media (max-width: 767px) {
  .section-tb85 {
    padding: 4rem 0 2.5rem 0;
  }
}

/*------/ Title /------*/
.title-wrap {
  padding-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: 600;
}

.title-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1.2rem;
}

.title-link a {
  text-decoration: none;
  color: #313131;
}

.title-link span {
  font-size: 20px;
  padding-left: 4px;
  vertical-align: middle;
}

.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.title-box-d .title-d {
  font-weight: 600;
  font-size: 2rem;
}

.title-box-d .title-d:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #ba478f;
  bottom: 20px;
  left: 0;
}

/*------/ Display Table & Table Cell /------*/
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*------/ Ul Resect /------*/
.ul-resect ul, .list-a ul, .box-comments ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*------/ Overlay /------*/


/*------/ Socials /------*/
.socials-a {
  text-decoration: none;
}

.socials-a .list-inline-item:not(:last-child) {
  margin-right: 25px;
}

/*======================================
//--//-->   BUTTON
======================================*/
.btn {
  transition: .5s ease;
}

.btn.btn-a, .btn.btn-b {
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: .05rem;
}

.btn.btn-a {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-a:hover {
  background-color: #ba478f;
  color: #000000;
}

.btn.btn-b {
  background-color: #ba478f;
  color: #000000;
}

.btn.btn-b:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-b-n {
  background-color: #ba478f;
  color: #ffffff;
  border-radius: 0;
}

.btn.btn-b-n:hover {
  background-color: #26a356;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.section-footer {
  padding-top: 60px;
  margin-top: 60px;
  background: #f3f3f3;
}

.section-footer ul {
  line-height: 2;
}

.section-footer .item-list-a i {
  font-size: 18px;
  padding-right: 4px;
  color: #ba478f;
}

.section-footer .widget-a .w-title-a {
  margin-bottom: 1rem;
}

footer {
  background: #f3f3f3;
  text-align: center;
  padding: 30px 0;
}

footer .copyright-footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

footer .credits {
  font-size: 14px;
}
