@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

:root {
   --primary-color: #ff502f;
   --secondary-color: #5bd1d7;
   --text-color: #004d61;
   --gray-light: #f3f3f3;
}

.special-font {
  font-family: 'Comfortaa', sans-serif;
  color: #ffffff;

}

.chip {
  padding: 0 12px;
  background-color: var(--gray-light);
  border-radius: 100px;
  display: inline-flex;
  font-family: 'Comfortaa', sans-serif;
  margin: 4px;
  color: rgba(0, 0, 0, .87);
  align-items: center;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.chip .icon {
  font-size: 16px;
  color: rgba(0, 0, 0, .54);
  width: 20px;
  text-align: center;
}

.chip .icon--leadind {
  margin: 2px 4px 0 -4px;
}

.chip .icon--trailing {
  margin: 2px -4px 0 4px;
}

.choiceChips .chip.chip--active {
  color: #FFFFFF;
  background-color: var(--text-color);
}

.chips__filter .chip.chip--active .chip--check {
  display: block;
}
.intro {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, purple 0%, orange 100%);
  margin-top: 40px;
  margin-bottom: 40px;
}
.intro h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.intro h2 {
  color: #f3f3f3;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.intro .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: darkorange;
  box-shadow: 0 5px 30px rgba(65, 84, 241, 0.4);
}
.intro .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.intro .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.search-margins{
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro .btn-get-started:hover i {
  transform: translateX(5px);
}
.intro .intro-img {
  text-align: right;
}
@media (max-width: 991px) {
  .intro {
    padding: 40px 0 20px 0;
  }
  .intro .intro-img {
    text-align: center;
    margin-top: 80px;
  }
  .intro .intro-img img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .intro {
    text-align: center;
  }
  .intro h1 {
    font-size: 32px;
  }
  .intro h2 {
    font-size: 24px;
  }
  .intro .intro-img img {
    width: 100%;
  }
}
